span img,
span .img-desc {
    opacity: 0;

    z-index: 1;
}

span:hover img {
    opacity: 1;

    transform: scale(1.1);
    transition: transform 2s, opacity 0.3s;
}

.img-desc::before {
    content: "";

    width: 100%;
    height: 500%;

    background: rgba(0, 0, 0, 0.306);

    position: absolute;

    z-index: -1;
}

span:hover .img-desc,
span:hover .img-desc::before {
    opacity: 1;

    transition: opacity 0.3s;
}
