.btn_action:hover {
    box-shadow: 0 0 5px 2px white;
}

.btn_action {
    background: rgba(0, 0, 255, 0.662);
    transform: translate(-1px, -1px);
    box-shadow: 5px 3px rgba(0, 0, 255, 0.192);
}

.btn_action-denied {
    background: red;
    transform: translate(-1px, -1px);
    box-shadow: 5px 3px rgba(255, 0, 0, 0.228);
}

.btn_action-denied:hover {
    box-shadow: 0 0 5px 2px white;
}
